nav {
  display: flex;
  width: 550px;
  height: 70px;
  background: #ffffff;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  /* position: absolute;
  left: 0px;
  top: 0px; */
  z-index: 999;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
nav img {
  width: 82.02px;
  height: 25.35px;
  max-width: 100px;
  margin-top: 22px;
  margin-left: 30px;
}
