body {
  background: #e5e5e5;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-list {
  display: flex;
  justify-content: flex-start;
  background-color: white;
  width: 550px;
  overflow-x: hidden;
  gap: 18px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.card-list .card:first-child {
  margin-left: 37px;
}
